body {
  margin: 0 auto;
  max-width: 960px;
  padding: 0.5rem;
  background-color: #fafafa;
  background-image: url("/woodland-camo.png");
}

header {
  margin: 0 auto;
}

h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.text-block {
  background-color: #fafafa;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  padding: 0.5em;
  margin-bottom: 1rem;
}

.link-icon {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}

/*
 * Prevent Cookie Hub links from having the animated underline
 */
div.cc-container a {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}

.link-text {
  text-shadow: none;
}

.logo-icon {
  max-width: 48px;
}

.loading {
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .link-text {
    display: none;
  }

  .logo-icon {
    max-width: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .logo-icon {
    max-width: 96px;
  }
}
