.navigation-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}

.navigation-column {
  margin-bottom: 0;
}

.navigation-column h3 {
  text-align: center;
}
