.locations {
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin-bottom: 1rem;
}

.location {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.location p {
  margin-bottom: 0;
  flex: 1;
}

div.locations > :last-child {
  margin-right: 0;
}

@media only screen and (max-width: 480px) {
  .locations {
    flex-direction: column;
  }

  .location {
    /* width: calc(50% - 1rem); */
    margin: auto;
    margin-bottom: 1rem;
  }
}
