.paint-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paint-card {
  flex: 1;
  flex-basis: 20%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.paint-title {
  font-size: 110%;
  flex: 1;
}

.paint-swatch {
  flex: 1;
}

.paint-link {
  /* Color taken from the theme def file */
  color: hsla(0,0%,0%,0.8);
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}

div.paint-cards > :last-child {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
  .paint-cards {
    flex-direction: column;
    text-align: center;
  }

  .paint-card {
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
